<div class="row">
  <div class="col-12" style="height:300px;" *ngIf="lineChartData">
    <canvas baseChart [datasets]="lineChartData" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
  </div>
</div>

<div class="row" *ngIf="figures">
  <div class="col-md-6 col-lg-4 col-xlg-2">
    <div class="card card-inverse card-success">
      <a [routerLink]="'/me/transactions'">
        <div class="box text-center">
          <h1 class="font-light text-white">{{ figures?.transactions }}</h1>
          <h6 class="text-white">All Transactions</h6>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xlg-2">
    <div class="card card-inverse card-warning">
      <a [routerLink]="'/me/transactions'">
        <div class="box text-center">
          <h1 class="font-light text-white">{{ figures?.transactions - (figures?.open_transactions + figures?.closed_transactions) }}</h1>
          <h6 class="text-white">Transactions in progress</h6>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xlg-2">
    <div class="card card-inverse card-megna">
      <a [routerLink]="'/me/transactions'">
        <div class="box text-center">
          <h1 class="font-light text-white">{{ figures?.closed_transactions }}</h1>
          <h6 class="text-white">Closed Transactions</h6>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xlg-2">
    <div class="card card-inverse card-info">
      <a [routerLink]="'/me/profile'" fragment="accounts">
        <div class="box text-center">
          <h1 class="font-light text-white">{{ figures?.accounts }}</h1>
          <h6 class="text-white">Accounts</h6>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><span class="lstick"></span>Recent Transactions</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover earning-box">
            <thead>
            <tr>
              <th class="text-active text-capitalize">Action</th>
              <th class="text-active text-capitalize">Currency</th>
              <th class="text-active text-capitalize">Status</th>
              <th class="text-active text-capitalize">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions" class="active">
              <td>
                <a href="javascript:void(0)" [routerLink]="['../transaction/details', transaction.id]" class="link">View Details</a>
              </td>
              <td>
                <h6>
                  <li class="p-l-0">{{ transaction?.buying_product_id | currency }}/{{ transaction?.selling_product_id | currency }}</li>
                </h6>
              </td>
              <td><span class="label" [ngClass]="transaction?.transaction_status_id | status:'class'">{{ transaction?.transaction_status_id | status }}</span>
              </td>
              <td>{{ transaction?.buying_product_id | currency:'sign' }}{{ transaction?.amount | number:'1.1-2' }}</td>
            </tr>
            </tbody>
          </table>
          <a [routerLink]="['..', 'transaction', 'list']" class="pull-right text-active">see more...</a>
        </div>

        <div class="col-12 text-center comment-widgets" *ngIf="transactions?.length === 0 || !transactions">
          <p class="text-center text-warning">You have no transactions yet.</p>
          <a [routerLink]="['..', 'transaction', 'request']" class="btn btn-outline-primary">Go to Request Page</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><span class="lstick"></span>Request Transaction</h3>
      </div>
      <div class="card-body">
        <div class="text-center">
          <form>

          </form>
        </div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
