<section id="wrapper" class="login-register login-sidebar"
         style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <form class="form-horizontal form-material" #adminLoginForm="ngForm" (ngSubmit)="login()">
        <a href="javascript:void(0)" class="text-center db">
          <!-- Dark Logo icon -->
          <img src="assets/images/logo-everdon.png" alt="homepage" class="light-logo logo-70"/>
        </a>
        <div class="form-group m-t-40">
          <div class="col-xs-12">
            <input class="form-control" type="email" required [(ngModel)]="user.email" name="email" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="password" [(ngModel)]="user.password" name="password" required placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <!--<div class="checkbox checkbox-primary pull-left p-t-0">-->
            <!--<input id="checkbox-signup" type="checkbox">-->
            <!--<label for="checkbox-signup"> Remember me </label>-->
            <!--</div>-->
            <!--<a href="javascript:void(0)" id="to-recover" class="text-dark pull-right">-->
            <!--<i class="fa fa-lock m-r-5"></i>-->
            <!--Forgot pwd?-->
            <!--</a>-->
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button [disabled]="!adminLoginForm.form.valid" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
          </div>
        </div>

        <hr>

        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>Not an Administrator?
              <a class="text-info m-l-5" [routerLink]="['/login']"><b>Login as a Customer.</b></a>
            </p>
          </div>
        </div>
      </form>
      <form class="form-horizontal" id="recoverform" action="index.html">
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Recover Password</h3>
            <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Email">
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <a class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light"
               [routerLink]="['/login']">Reset
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
