<form class="form-horizontal" #clientForm="ngForm" (ngSubmit)="createClient()">
	<div class="form-group row">
		<label for="email" class="col-sm-3 text-right control-label col-form-label">Email<span class="text-danger">*</span></label>
		<div class="col-sm-9">
			<input [(ngModel)]="client.email" name="email" type="email" required class="form-control" id="email" placeholder="Email..."></div>
	</div>

	<div class="form-group row">
		<label for="first_name" class="col-sm-3 text-right control-label col-form-label">First Name<span
			class="text-danger">*</span></label>
		<div class="col-sm-9">
			<input [(ngModel)]="client.first_name" name="first_name" type="text" required class="form-control"
			       id="first_name" placeholder="First Name..."></div>
	</div>

	<!--<div class="form-group row">
		<label for="middle_name" class="col-sm-3 text-right control-label col-form-label">Middle Name<span
			class="text-danger">*</span></label>
		<div class="col-sm-9">
			<input [(ngModel)]="client.middle_name" name="middle_name" type="text" required class="form-control"
			       id="middle_name" placeholder="Middle Name..."></div>
	</div>-->

	<div class="form-group row">
		<label for="last_name" class="col-sm-3 text-right control-label col-form-label">Last Name<span
			class="text-danger">*</span></label>
		<div class="col-sm-9">
			<input [(ngModel)]="client.last_name" name="last_name" type="text" required class="form-control"
			       id="last_name" placeholder="Last Name..."></div>
	</div>

	<div class="form-group row">
		<label for="country" class="col-sm-3 text-right control-label col-form-label">Country<span class="text-danger">*</span></label>
		<div class="input-group col-sm-9">
			<select id="country" class="custom-select col-12" required [(ngModel)]="client.country" name="country">
				<option *ngFor="let country of countries" [value]="country.name">
					{{ country.name }} - {{ country.code }}
				</option>
			</select>
		</div>
	</div>

	<div class="form-group row">
		<label for="phone" class="col-sm-3 text-right control-label col-form-label">Phone<span class="text-danger">*</span></label>
		<div class="col-sm-9">
			<input [(ngModel)]="client.phone" name="phone" type="tel" [pattern]=" client.country === 'Nigeria' ? '[0]\\d{10}' : '' " required class="form-control" id="phone"
			       placeholder="Phone...">
		</div>
	</div>

	<div class="form-group row">
		<label for="office_address" class="col-sm-3 text-right control-label col-form-label">Office Address</label>
		<div class="col-sm-9">
			<input [(ngModel)]="client.office_address" type="text" name="office_address" minlength="3" class="form-control" id="office_address" placeholder="Office Address..."></div>
	</div>

	<div class="form-group row">
		<div class="offset-sm-3 col-sm-9">
			<div class="form-check">
				<label class="custom-control custom-checkbox">
					<input type="checkbox" [(ngModel)]="is_cooperate" name="is_cooperate" class="custom-control-input"> <span class="custom-control-indicator"></span>
					<span class="custom-control-description">Is Cooperate?</span>
				</label>
			</div>
		</div>
	</div>

	<div class="form-group row" *ngIf="is_cooperate">
		<label for="rc_number" class="col-sm-3 text-right control-label col-form-label">RC Number</label>
		<div class="col-sm-9">
			<input [(ngModel)]="client.rc_number" [required]="is_cooperate" type="text" name="rc_number" class="form-control" id="rc_number" pattern="[A-Z]{2}[0-9]{6}"
			       placeholder="RC Number...">
		</div>
	</div>

	<div class="form-group row" *ngIf="!is_cooperate">
		<label for="occupation" class="col-sm-3 text-right control-label col-form-label">Occupation</label>
		<div class="col-sm-9">
			<input [(ngModel)]="client.occupation" type="text" name="occupation" class="form-control" id="occupation" placeholder="Occupation..."></div>
	</div>

	<!--<div class="form-group row" *ngIf="!is_cooperate">
		<label for="marital_status" class="col-sm-3 text-right control-label col-form-label">Marital Status</label>
		<div class="col-sm-9">
			<select [(ngModel)]="client.marital_status" type="text" name="marital_status" class="form-control" id="marital_status" placeholder="Marital Status...">
				<option value="single">Single</option>
				<option value="married">Married</option>
			</select>
		</div>
	</div>

	<div class="form-group row" *ngIf="!is_cooperate">
		<label for="date_of_birth" class="col-sm-3 text-right control-label col-form-label">Date of birth</label>
		<div class="col-sm-9">
			<input [(ngModel)]="client.date_of_birth" type="date" name="date_of_birth" class="form-control"
			       id="date_of_birth" placeholder="Date of birth..."></div>
	</div>

	<div class="form-group row" *ngIf="!is_cooperate">
		<label for="nok_full_name" class="col-sm-3 text-right control-label col-form-label">Next of Kin</label>
		<div class="col-sm-9">
			<input [(ngModel)]="client.nok_full_name" type="text" name="nok_full_name" class="form-control"
			       id="nok_full_name" placeholder="Next of Kin..."></div>
	</div>

	<div class="form-group row" *ngIf="!is_cooperate">
		<label for="nok_phone" class="col-sm-3 text-right control-label col-form-label">Next of Kin's Phone
			Number</label>
		<div class="col-sm-9">
			<input [(ngModel)]="client.nok_phone" type="text" name="nok_phone" class="form-control" id="nok_phone"
			       placeholder="Next of Kin's Phone Number..."></div>
	</div>

	<div class="form-group row" *ngIf="!is_cooperate">
		<label for="referee_1" class="col-sm-3 text-right control-label col-form-label">Referee 1</label>
		<div class="col-sm-9">
			<input [(ngModel)]="client.referee_1" type="text" name="referee_1" class="form-control" id="referee_1"
			       placeholder="Referee 1..."></div>
	</div>

	<div class="form-group row" *ngIf="!is_cooperate">
		<label for="referee_2" class="col-sm-3 text-right control-label col-form-label">Referee 2</label>
		<div class="col-sm-9">
			<input [(ngModel)]="client.referee_2" type="text" name="referee_2" class="form-control" id="referee_2"
			       placeholder="Referee 2..."></div>
	</div>

	<div class="form-group row" *ngIf="!is_cooperate">
		<label for="referee_3" class="col-sm-3 text-right control-label col-form-label">Referee 3</label>
		<div class="col-sm-9">
			<input [(ngModel)]="client.referee_3" type="text" name="referee_3" class="form-control" id="referee_3"
			       placeholder="Referee 3..."></div>
	</div>

	<div class="form-group row" *ngIf="!is_cooperate">
		<label for="referee_4" class="col-sm-3 text-right control-label col-form-label">Referee 4</label>
		<div class="col-sm-9">
			<input [(ngModel)]="client.referee_4" type="text" name="referee_4" class="form-control" id="referee_4"
			       placeholder="Referee 4..."></div>
	</div>-->

	<div class="form-group m-b-0">
		<div class="offset-sm-3 col-sm-9">
			<button [disabled]="!clientForm.form.valid || (submitting === true)" type="submit"
			        class="btn btn-info waves-effect waves-light m-t-10">{{ submitting ? 'Creating Customer' : 'Create Customer' }}
			</button>
		</div>
	</div>

	<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

</form>
