<div>
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="box-title m-b-0">
					<span class="lstick"></span>
					Update Customer Details
					<i class="mdi mdi-reload mdi-28px text-info" style="cursor: pointer;" (click)="getClient()"></i>
				</h3>
			</div>
			<div class="card-body">
				<!-- Loading Client Data... -->
				<app-loader *ngIf="!client"></app-loader>

				<div class="row">
					<!-- Client Form -->
					<form class="form-horizontal col-8" #clientForm="ngForm" (ngSubmit)="updateClient()" *ngIf="client">
						<div class="form-group row">
							<label for="email" class="col-sm-3 text-right control-label col-form-label">
								Email Address
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.email" name="email" disabled type="email" class="form-control" id="email" placeholder="Email...">
							</div>
						</div>

						<div class="form-group row">
							<label for="first_name" class="col-sm-3 text-right control-label col-form-label">
								First Name
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.first_name" required name="first_name" type="text" class="form-control" id="first_name" placeholder="First Name..."></div>
						</div>

						<div class="form-group row">
							<label for="last_name" class="col-sm-3 text-right control-label col-form-label">
								Last Name
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.last_name" required name="last_name" type="text" class="form-control" id="last_name" placeholder="Last Name...">
							</div>
						</div>

						<div class="form-group row">
							<label for="middle_name" class="col-sm-3 text-right control-label col-form-label">
								Middle Name
							</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.middle_name" name="middle_name" type="text" class="form-control" id="middle_name" placeholder="Middle Name...">
							</div>
						</div>

						<div class="form-group row">
							<label for="phone" class="col-sm-3 text-right control-label col-form-label">
								Phone
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.phone" name="phone" required type="tel" pattern="[0]\d{10}" class="form-control" id="phone" placeholder="Phone...">
							</div>
						</div>

						<div class="form-group row">
							<label for="bvn" class="col-sm-3 text-right control-label col-form-label">
								BVN
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.bvn" type="text" required name="bvn" class="form-control" id="bvn" placeholder="BVN..." minlength="10" maxlength="10"></div>
						</div>

						<div class="form-group row">
							<label for="office_address" class="col-sm-3 text-right control-label col-form-label">
								Office Address
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.office_address" type="text" required name="office_address" class="form-control" id="office_address" placeholder="Office Address...">
							</div>
						</div>

						<div class="form-group row" *ngIf="(client.client_type === 2 || client.client_type === 5)">
							<label for="rc_number" class="col-sm-3 text-right control-label col-form-label">
								RC Number
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.rc_number" required pattern="[A-Z]{2}[0-9]{6}" type="text" name="rc_number" class="form-control" id="rc_number"
								       placeholder="RC Number...">
							</div>
						</div>

						<div class="form-group row" *ngIf="!(client.client_type === 2 || client.client_type === 5)">
							<label for="occupation" class="col-sm-3 text-right control-label col-form-label">Occupation</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.occupation" type="text" name="occupation" class="form-control" id="occupation" placeholder="Occupation..."></div>
						</div>

						<div class="form-group row" *ngIf="!(client.client_type === 2 || client.client_type === 5)">
							<label for="marital_status" class="col-sm-3 text-right control-label col-form-label">Marital Status</label>
							<div class="col-sm-6">
								<select [(ngModel)]="client.marital_status" type="text" name="marital_status" class="form-control" id="marital_status">
									<option value="single">Single</option>
									<option value="married">Married</option>
								</select>
							</div>
						</div>

						<div class="form-group row" *ngIf="!(client.client_type === 2 || client.client_type === 5)">
							<label for="date_of_birth" class="col-sm-3 text-right control-label col-form-label">Date of birth</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.date_of_birth" type="date" name="date_of_birth" class="form-control" id="date_of_birth" placeholder="Date of birth..."></div>
						</div>

						<div class="form-group row" *ngIf="!(client.client_type === 2 || client.client_type === 5)">
							<label for="nok_full_name" class="col-sm-3 text-right control-label col-form-label">Next of Kin</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.nok_full_name" type="text" name="nok_full_name" class="form-control" id="nok_full_name" placeholder="Next of Kin..."></div>
						</div>

						<div class="form-group row" *ngIf="!(client.client_type === 2 || client.client_type === 5)">
							<label for="nok_phone" class="col-sm-3 text-right control-label col-form-label">Next of Kin's Phone Number</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.nok_phone" type="text" name="nok_phone" class="form-control" id="nok_phone" placeholder="Next of Kin's Phone Number..."></div>
						</div>

						<div class="form-group row">
							<label for="referee_1" class="col-sm-3 text-right control-label col-form-label">Referee 1</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.referee_1" type="text" name="referee_1" class="form-control" id="referee_1" placeholder="Referee 1..."></div>
						</div>

						<div class="form-group row">
							<label for="referee_2" class="col-sm-3 text-right control-label col-form-label">Referee 2</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.referee_2" type="text" name="referee_2" class="form-control" id="referee_2" placeholder="Referee 2..."></div>
						</div>

						<div class="form-group row">
							<label for="referee_3" class="col-sm-3 text-right control-label col-form-label">Referee 3</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.referee_3" type="text" name="referee_3" class="form-control" id="referee_3" placeholder="Referee 3..."></div>
						</div>

						<div class="form-group row">
							<label for="referee_4" class="col-sm-3 text-right control-label col-form-label">Referee 4</label>
							<div class="col-sm-6">
								<input [(ngModel)]="client.referee_4" type="text" name="referee_4" class="form-control" id="referee_4" placeholder="Referee 4..."></div>
						</div>

						<div class="form-group m-b-0">
							<div class="offset-sm-3 col-sm-6">
								<button type="submit" [disabled]="!clientForm.form.valid" class="btn btn-info waves-effect waves-light m-t-10">Update Client</button>
							</div>
						</div>

						<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

					</form>

					<div class="col-4">
						<!-- Client KYC Card -->
						<div *ngIf="client?.kyc" class="pricing-box featured-plan">
							<div class="pricing-body">
								<div class="pricing-header">
									<h3 class="price-lable text-white bg-primary"> KYC Status</h3>
								</div>
								<div class="price-table-content">
									<label class="label-light-warning label-rounded" *ngIf="client?.kyc?.awaiting_review === 1">
										Recently updated by Customer !
									</label>
									<br *ngIf="client.kyc?.awaiting_review === 1">

									<i class="mdi mdi-calendar-clock"> </i>
									{{ client?.kyc?.awaiting_review === 1 ? 'Customer last updated' : 'Profile last updated'}} {{ client?.updated_at | amCalendar }}

									<hr>

									<h1 class="text-center">

										<nz-switch name="status" [(ngModel)]="client.kyc.status" [nzSize]="'default'" [nzControl]="true" (click)="validateKYC()" [nzLoading]="loading"
										           [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>

										<ng-template #checkedTemplate>
											<i class="anticon anticon-check"></i>
											Valid
										</ng-template>

										<ng-template #unCheckedTemplate>
											Invalid
											<i class="anticon anticon-close"></i>
										</ng-template>

									</h1>

									<i class="icon-calender"></i>
									Last reviewed {{ client?.kyc?.last_reviewed_at | amCalendar }}
								</div>
							</div>
						</div>

						<br>

						<!-- Client Identity Card -->
						<div *ngIf="client" class="pricing-box featured-plan">
							<div class="pricing-body">
								<div class="pricing-header">
									<h3 class="price-lable text-white bg-primary"> Identity</h3>
								</div>

								<br>

								<div class="price-table-content">
									<form class="form-horizontal form-material" *ngIf="client" #profileForm="ngForm" (ngSubmit)="updateIdentity()">

										<div class="form-group row" *ngIf="!(client.client_type === 2 || client.client_type === 5)">
											<label for="identification" class="col-sm-3 offset-1 text-right control-label col-form-label">Identification</label>
											<div class="col-sm-5">
												<select class="form-control" required [(ngModel)]="client.identification" name="identification" id="identification">
													<option value="drivers license">Driver's License</option>
													<option value="international passport">International Passport</option>
													<option value="national id card">National ID Card</option>
												</select>

												<br>

												<swal #documentSwal [title]="client?.identification ? client?.identification?.toLocaleUpperCase() : 'CAC DOCUMENT'" [showConfirmButton]="false"
												      width="850px">
													<ng-container *swalPartial>
														<div class="col-12">
															<p *ngIf="client.identification_document">You have 1 document uploaded already</p>
															<ngx-imageviewer *ngIf="client.identification_document" [src]="client.identification_document"></ngx-imageviewer>
														</div>

														<div class="col-12">
															<p *ngIf="client.cac_document">You have 1 document uploaded already</p>
															<ngx-imageviewer *ngIf="client.cac_document" [src]="client.cac_document"></ngx-imageviewer>
														</div>
													</ng-container>

												</swal>
												<button *ngIf="client.cac_document || client.identification_document" class="btn btn-rounded btn-outline-info btn-xs mt-2"
												        [swal]="documentSwal">View Document
												</button>
											</div>
										</div>

										<div class="form-group row" *ngIf="!(client.client_type === 2 || client.client_type === 5)">
											<label for="identification_number" class="col-sm-3 offset-1 text-right control-label col-form-label">Identification Number</label>
											<div class="col-sm-5">
												<input [(ngModel)]="client.identification_number" type="text" name="identification_number" class="form-control" id="identification_number"
												       placeholder="Identification Number...">
											</div>
										</div>

										<div class="form-group row" *ngIf="!(client.client_type === 2 || client.client_type === 5)">
											<label for="identification_document" class="col-sm-3 offset-1 text-right control-label col-form-label">
												{{ client.identification_document ? 'Update Document' : 'Upload Document' }}
											</label>
											<div class="col-sm-5">
												<input (change)="fileChangeEvent($event, 'identification_document')" type="file" name="identification_document"
												       class="form-control-file form-control-lg" id="identification_document" placeholder="Means of Identification...">
											</div>
										</div>

										<div class="form-group row" *ngIf="(client.client_type === 2 || client.client_type === 5)">
											<label for="cac_document" class="col-sm-3 offset-1 text-right control-label col-form-label">
												{{ client.cac_document ? 'Update CAC Document' : 'Upload CAC Document' }}
											</label>
											<div class="col-sm-5">
												<input (change)="fileChangeEvent($event, 'cac_document')" type="file" name="cac_document" class="form-control-file form-control-lg" id="cac_document"
												       placeholder="CAC Document...">
											</div>
										</div>


										<div class="form-group">
											<div class="col-sm-11">
												<button class="btn btn-success" type="submit">Update Identity Profile</button>
											</div>
										</div>
									</form>
								</div>

							</div>
						</div>


					</div>
				</div>

			</div>
		</div>
	</div>
</div>
