<div class="row" *ngIf="roles$ | async as roles">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">
					<span class="lstick"></span>
					Request Transaction
				</h4>
			</div>
			<div class="card-body">
				<ngb-alert *ngIf="(roles[0] !== 'client') && (roles[0] !== 'fx-ops')" [type]="'warning'">
					<b>NOTE: </b>You're not eligible to make this request! Please refer to FX-Ops Member
				</ngb-alert>

				<app-request-transaction-form [(transaction)]="transaction" (submittedSuccessfully)="onSubmittedSuccessfully($event)" [role]="roles[0]"
				                              [profileLink]="['admin', 'customer', transaction.client_id]">

				</app-request-transaction-form>

			</div>
		</div>
	</div>
</div>
