<!-- .row -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><span class="lstick"></span>Transaction Request Form</h4>
        <h6 class="card-subtitle"></h6>

        <form class="form" #requestForm="ngForm" (ngSubmit)="requestTransaction()">


          <!--<div class="form-group row">
            <label for="search-client" class="col-md-2 col-form-label">Client</label>
            <div class="col-md-10">
              <div class="input-group">
                <input id="search-client" type="text" class="form-control" placeholder="Search Client...">
                <span class="input-group-btn">
                  <button class="btn btn-info" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>-->


          <div class="form-group row">
            <label for="transaction-type" class="col-md-2 col-form-label">Transaction Type</label>
            <div class="col-md-10">
              <select class="custom-select col-12" required [(ngModel)]="transaction.transaction_type_id" id="transaction-type" name="transaction-type">
                <option *ngFor="let transactionType of transactionTypes" [value]="transactionType.id">{{ transactionType.desc }}</option>
              </select>
            </div>
          </div>


          <div class="form-group row">
            <label for="transaction-mode" class="col-md-2 col-form-label">Transaction Mode</label>
            <div class="col-md-10">
              <select class="custom-select col-12" required [(ngModel)]="transaction.transaction_mode_id" id="transaction-mode" name="transaction-mode">
                <option *ngFor="let transactionMode of transactionModes" [value]="transactionMode.id">{{ transactionMode.desc }}</option>
              </select>
            </div>
          </div>


          <div class="form-group row">
            <label for="product" class="col-md-2 col-form-label">Product</label>
            <div class="col-md-10">
              <select class="custom-select col-12" required [(ngModel)]="transaction.buying_product_id" id="product" name="product">
                <option *ngFor="let availableProduct of availableProducts" [value]="availableProduct.id">{{ availableProduct.description }}</option>
              </select>
            </div>
          </div>


          <div class="form-group row">
            <label for="product-amount" class="col-md-2 col-form-label">Product Amount</label>
            <div class="col-md-10">
              <div class="input-group">
                <span class="input-group-addon">{{ transaction.buying_product_id }}</span>
                <!--todo form a PIPE for the above...-->
                <input type="text" class="form-control" [(ngModel)]="transaction.amount" name="amount" id="product-amount" aria-label="Amount (to the nearest)">

              </div>
            </div>
          </div>



          <div class="form-group row">
            <label for="account" class="col-md-2 col-form-label">Account</label>
            <div class="col-md-10">
              <select class="custom-select col-12" required [(ngModel)]="transaction.account_id" id="account" name="account">
                <option *ngFor="let myAccount of myAccounts" [value]="myAccount.id">{{ myAccount?.bank + ' : ' + myAccount?.number }}</option>
              </select>
            </div>
          </div>

          <!--<div class="form-group row">
            <label for="rate" class="col-md-2 col-form-label">Rate</label>
            <div class="col-md-10">
              <div class="input-group">
                <span class="input-group-addon">₦</span>
                <input type="text" class="form-control" id="rate" aria-label="Amount (to the nearest naira)">
                <span class="input-group-addon"> / USD</span>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label for="wacc" class="col-md-2 col-form-label">WACC</label>
            <div class="col-md-10">
              <div class="input-group">
                <span class="input-group-addon">₦</span>
                <input type="text" class="form-control" id="wacc" aria-label="Amount (to the nearest naira)">
                <span class="input-group-addon"> / USD</span>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label for="actual-amount" class="col-md-2 col-form-label">Actual Amount</label>
            <div class="col-md-10">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" id="actual-amount" aria-label="Amount (to the nearest dollar)">

              </div>
            </div>
          </div>


          <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="checkbox checkbox-success col-md-10">
              <input id="mail-client" type="checkbox">
              <label for="mail-client"> Mail Client </label>
            </div>
          </div>-->


          <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
