<nz-card style="width: 100%;" nzTitle="Currencies, Rates & Balances">
	<nz-card-tab>

	</nz-card-tab>

	<nz-tabset nzSize="large" [(nzSelectedIndex)]="index1">
		<nz-tab [nzTitle]="'Overview'">

			<!-- Buckets -->
			<div class="row">
				<!-- Column -->
				<div class="col-md-6" style="padding: 25px;" *ngFor="let bucket of buckets">
					<nz-card nzType="inner" style="margin-top:16px;" [nzTitle]="bucket.description" [nzExtra]="extraTemplate">
						<h4 class="text-right">
								<span class="text-muted">
			            <i class="ti-arrow-up text-success" *ngIf="bucket.direction === 'up'"></i>
			            <i class="ti-arrows-horizontal text-info" *ngIf="bucket.direction === 'middle'"></i>
			            <i class="ti-arrow-down text-danger" *ngIf="bucket.direction === 'down'"></i>
			          </span>
						</h4>
						<div class="text-center">
							<h1 class="font-weight-bold">
								<nz-divider nzText="Total"></nz-divider>
								<span class="text-right">
										{{ bucket.id | product:'sign'}}{{ bucket.bucket | number:'2.' }}
									</span>
							</h1>
							<div class="row">
								<h2 class="font-light col-lg-6">
									<nz-divider nzText="Cash" nzOrientation="left"></nz-divider>
									{{ bucket.id | product:'sign'}}{{ bucket.bucket_cash | number:'2.' }}
								</h2>
								<h2 class="font-light col-lg-6">
									<nz-divider nzText="Transfer" nzOrientation="left"></nz-divider>
									{{ bucket.id | product:'sign'}}{{ bucket.bucket_transfer | number:'2.' }}
								</h2>
							</div>

						</div>
						<p>
							<!--<ngb-progressbar type="{{bucket.type}}" [value]="bucket.percentage + 25" [striped]="true" [animated]="true">
								<i>{{ bucket.percentage | number:'1.1-1' }}%</i>
							</ngb-progressbar>-->
						</p>
						<p>
							<!--<ngb-progressbar type="{{bucket.ratio_type}}" [value]="bucket.ratio" [striped]="true" [animated]="true">-->
							<!--<i>CASH - {{ bucket.ratio | number:'1.1-1' }}%</i>-->
							<!--</ngb-progressbar>-->
						</p>
					</nz-card>
				</div>
			</div>

		</nz-tab>

		<nz-tab [nzTitle]="'Detailed Info'">
			<div style="margin-bottom: 16px;">
				<button nz-button [nzType]="'primary'" [nzLoading]="loading" (click)="getProducts()">
					Reload
				</button>
			</div>

			<nz-table
				#editRowTable
				[nzTitle]="'List of Currencies'"
				[nzLoading]="loading"
				[nzBordered]="true"
				[nzSize]="'large'"
				[nzData]="dataSet">
				<thead>
				<tr>
					<th [nzWidth]="'15%'">Name</th>
					<th [nzWidth]="'9%'">Rate</th>
					<th [nzWidth]="'9%'">WACC</th>
					<th [nzWidth]="'9%'">Cash Balance</th>
					<th [nzWidth]="'9%'">Transfer Balance</th>
					<th [nzWidth]="'9%'">Total Balance</th>
					<th [nzWidth]="'13%'" ngbTooltip="Balance before the latest transaction">Previous Total Balance</th>
					<th [nzWidth]="'12%'">Last Updated</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let data of editRowTable.data">
					<td>
						<div class="editable-cell">
							<div class="editable-cell-text-wrapper">
								<ng-container *ngIf="!editCache[data.id]?.edit">
									{{data.description}}
								</ng-container>
								<ng-container *ngIf="editCache[data.id]?.edit">
									<input type="text" nz-input [(ngModel)]="editCache[data.id].data.description">
								</ng-container>
							</div>
						</div>
					</td>

					<td class="text-right number">
						<ng-container *ngIf="!editCache[data.id]?.edit">
							₦{{ data.rate | number:'1.1-4' }}
						</ng-container>
						<ng-container *ngIf="editCache[data.id]?.edit">
							<nz-input-number [(ngModel)]="editCache[data.id].data.rate" [nzStep]="0.1" [nzFormatter]="formatterNaira" [nzParser]="parserNaira"></nz-input-number>
						</ng-container>
					</td>

					<td class="text-right number">
						<ng-container *ngIf="!editCache[data.id]?.edit">
							₦{{ data.wacc | number:'1.1-4' }}
						</ng-container>
						<ng-container *ngIf="editCache[data.id]?.edit">
							<nz-input-number [(ngModel)]="editCache[data.id].data.wacc" [nzStep]="0.1" [nzFormatter]="formatterNaira" [nzParser]="parserNaira"></nz-input-number>
						</ng-container>
					</td>

					<td class="text-right number">
						<ng-container *ngIf="!editCache[data.id]?.edit">
							{{ data.id | product:'sign' }}{{ data.bucket_cash | number:'1.1-4' }}
						</ng-container>
						<ng-container *ngIf="editCache[data.id]?.edit">
							<nz-input-number [(ngModel)]="editCache[data.id].data.bucket_cash" [nzStep]="0.1"></nz-input-number>
						</ng-container>
					</td>

					<td class="text-right number">
						<ng-container *ngIf="!editCache[data.id]?.edit">
							{{ data.id | product:'sign' }}{{ data.bucket_transfer | number:'1.1-4' }}
						</ng-container>
						<ng-container *ngIf="editCache[data.id]?.edit">
							<nz-input-number [(ngModel)]="editCache[data.id].data.bucket_transfer" [nzStep]="0.1"></nz-input-number>
						</ng-container>
					</td>

					<td class="text-right number">
						{{ data.id | product:'sign' }}{{ data.bucket | number:'1.1-4' }}
					</td>

					<td class="text-right number">
						{{ data.id | product:'sign' }}{{ data.prev_bucket | number:'1.1-4' }}
					</td>

					<td>
						{{ data.updated_at | date:'short' }}
					</td>

					<td>
						<div class="editable-row-operations">
							<ng-container *ngIf="!editCache[data.id]?.edit">
								<!--<a (click)="startEdit(data.id)">Edit</a>-->
								<button nz-button [nzSize]="'small'" nzType="primary" (click)="startEdit(data.id)">Edit</button>
							</ng-container>
							<ng-container *ngIf="editCache[data.id]?.edit">
								<!--<a (click)="cancelEdit(data.id)">Cancel</a>-->
								<button nz-button [nzSize]="'small'" nzType="danger" (click)="cancelEdit(data.id)">Cancel</button>

								<nz-popconfirm [nzTitle]="'Sure to Update?'" (nzOnConfirm)="saveEdit(data.id)">
									<!--<a nz-popconfirm>Update</a>-->
									<button nz-button [nzSize]="'small'" nzType="primary" nz-popconfirm>Update</button>
								</nz-popconfirm>
							</ng-container>
						</div>
					</td>
				</tr>
				</tbody>
			</nz-table>
		</nz-tab>
	</nz-tabset>

</nz-card>
