.editable-row-operations a, button {
	margin-right: 8px;
}

.number {
	font-family: Consolas, monospace;
	font-size: small;
}

.table-operations {
	margin-bottom: 16px;
}

.table-operations > button {
	margin-right: 8px;
}
