<nz-card style="width: 100%;" [nzTitle]="'Staffs & Roles'">
	<nz-card-tab></nz-card-tab>

	<nz-tabset nzSize="large" [(nzSelectedIndex)]="tab_index">
		<nz-tab [nzTitle]="'Overview'"></nz-tab>

		<!-- add staff -->
		<nz-tab [nzTitle]="'Add Staff'">

			<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">

				<!--<nz-form-item>
					<nz-form-label [nzSpan]="7" nzRequired>Username</nz-form-label>
					<nz-form-control [nzSpan]="12" nzHasFeedback>
						<input nz-input formControlName="userName" placeholder="async validate try to write JasonWood">
						<nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors || validateForm.get('userName').pending ">
							<ng-container *ngIf="validateForm.get('userName').hasError('required')">
								Please input your username!
							</ng-container>
							<ng-container *ngIf="validateForm.get('userName').hasError('duplicated')">
								The username is redundant!
							</ng-container>
							<ng-container *ngIf="validateForm.get('userName').pending">
								Validating...
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>-->

				<nz-form-item>
					<nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
					<nz-form-control [nzSpan]="12" nzHasFeedback>
						<input nz-input formControlName="email" placeholder="email" type="email">
						<nz-form-explain *ngIf="validateForm.get('email').dirty&&validateForm.get('email').errors">
							<ng-container *ngIf="validateForm.get('email').hasError('email')">
								The input is not valid E-mail!
							</ng-container>
							<ng-container *ngIf="validateForm.get('email').hasError('required')">
								Please input your E-mail!
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>

				<nz-form-item>
					<nz-form-label [nzSpan]="7" nzRequired>Role</nz-form-label>
					<nz-form-control [nzSpan]="12" nzHasFeedback>
						<nz-select nzShowSearch nzAllowClear formControlName="role" nzPlaceHolder="select role">
							<nz-option nzCustomContent nzLabel="fx ops" nzValue="fx-ops"><i class="anticon anticon-qq"></i> FX Ops</nz-option>
							<nz-option nzCustomContent nzLabel="fx ops manager" nzValue="fx-ops-manager"><i class="anticon anticon-dingding"></i> FX Ops Manager</nz-option>
							<nz-option nzCustomContent nzLabel="treasury ops" nzValue="treasury-ops"><i class="anticon anticon-aliwangwang"></i> Treasury Ops</nz-option>
						</nz-select>
					</nz-form-control>
				</nz-form-item>

				<nz-form-item>
					<nz-form-label [nzSpan]="7" nzRequired>First Name</nz-form-label>
					<nz-form-control [nzSpan]="12" nzHasFeedback>
						<input nz-input formControlName="first_name" placeholder="first name" type="text">
						<nz-form-explain *ngIf="validateForm.get('first_name').dirty&&validateForm.get('first_name').errors">
							<ng-container *ngIf="validateForm.get('first_name').hasError('required')">
								Please input staff's First Name!
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>

				<nz-form-item>
					<nz-form-label [nzSpan]="7" nzRequired>Last Name</nz-form-label>
					<nz-form-control [nzSpan]="12" nzHasFeedback>
						<input nz-input formControlName="last_name" placeholder="last name" type="text">
						<nz-form-explain *ngIf="validateForm.get('last_name').dirty&&validateForm.get('last_name').errors">
							<ng-container *ngIf="validateForm.get('last_name').hasError('email')">
								The input is not valid E-mail!
							</ng-container>
							<ng-container *ngIf="validateForm.get('last_name').hasError('required')">
								Please input staff's Last Name!
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>

				<nz-form-item>
					<nz-form-label [nzSpan]="7" nzFor="gender" nzRequired>Gender</nz-form-label>
					<nz-form-control [nzSpan]="12" nzHasFeedback>
						<nz-select id="gender" nzAllowClear formControlName="gender" nzPlaceHolder="select gender">
							<nz-option nzCustomContent nzLabel="male" nzValue="male"><i class="anticon anticon-man"></i> Male</nz-option>
							<nz-option nzCustomContent nzLabel="female" nzValue="female"><i class="anticon anticon-woman"></i> Female</nz-option>
						</nz-select>
						<nz-form-explain *ngIf="validateForm.get('gender').dirty && validateForm.get('gender').errors">Please select your gender!</nz-form-explain>
					</nz-form-control>
				</nz-form-item>

				<nz-form-item>
					<nz-form-label [nzSpan]="7" nzRequired>Phone Number</nz-form-label>
					<nz-form-control [nzSpan]="12" nzHasFeedback>
						<input nz-input formControlName="phone" placeholder="phone" type="text">
						<nz-form-explain *ngIf="validateForm.get('phone').dirty&&validateForm.get('phone').errors">
							<ng-container *ngIf="validateForm.get('phone').hasError('email')">
								The input is not valid E-mail!
							</ng-container>
							<ng-container *ngIf="validateForm.get('phone').hasError('required')">
								Please input staff's Phone Number!
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>

				<nz-form-item>
					<nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
					<div>
						<nz-form-control [nzSpan]="12" nzHasFeedback>
							<input nz-input type="password" formControlName="password" placeholder="enter password" (ngModelChange)="validateConfirmPassword()">
							<nz-form-explain *ngIf="validateForm.get('password').dirty&&validateForm.get('password').hasError('required')">Please input your password!</nz-form-explain>
						</nz-form-control>
					</div>
				</nz-form-item>

				<nz-form-item>
					<nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
					<nz-form-control [nzSpan]="12" nzHasFeedback>
						<input nz-input type="password" formControlName="confirm" placeholder="confirm password">
						<nz-form-explain *ngIf="validateForm.get('confirm').dirty&&validateForm.get('confirm').errors">
							<ng-container *ngIf="validateForm.get('confirm').hasError('required')">
								Please confirm password!
							</ng-container>
							<ng-container *ngIf="validateForm.get('confirm').hasError('confirm')">
								Password is inconsistent!
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>

				<nz-form-item>
					<nz-form-control [nzOffset]="7" [nzSpan]="12">
						<button nz-button nzType="primary" [nzLoading]="loading" [disabled]="!validateForm.valid">Submit</button>
						<button nz-button (click)="resetForm($event)">Reset</button>
					</nz-form-control>
				</nz-form-item>
			</form>

		</nz-tab>

		<!-- list of staffs -->
		<nz-tab [nzTitle]="'Manage Existing Staffs'">
			<div class="table-operations">
				<button nz-button [nzType]="'primary'" [nzLoading]="loading" (click)="pageIndex = 1; getStaffs();">Reload</button>
				<button nz-button (click)="resetFilters()">Clear filters</button>
				<button nz-button (click)="resetSortAndFilters()">Clear filters and sorters</button>
			</div>

			<nz-table
				#editRowTable
				[nzTotal]="total"
				[nzData]="dataSet"
				[nzSize]="'small'"
				[nzBordered]="true"
				[nzLoading]="loading"
				[(nzPageSize)]="pageSize"
				[nzShowSizeChanger]="true"
				[nzFrontPagination]="false"
				[(nzPageIndex)]="pageIndex"
				(nzPageIndexChange)="searchData()"
				(nzPageSizeChange)="searchData(true)"
				(nzCurrentPageDataChange)="currentPageDataChange($event)"
			>

				<thead (nzSortChange)="sort($event)" nzSingleSort>
				<tr>
					<th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
					<th nzShowSort nzSortKey>Email</th>
					<th nzShowSort nzSortKey>First Name</th>
					<th nzShowSort nzSortKey>Last Name</th>
					<th>Phone Number</th>
					<th nzShowSort nzSortKey>Role</th>
					<th>Last Updated</th>
					<th [nzWidth]="'15%'">Actions</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let data of editRowTable.data">
					<td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
					<td>
						<div class="editable-cell">
							<div class="editable-cell-text-wrapper">
								<ng-container *ngIf="!editCache[data.id]?.edit">
									{{ data.email }}
								</ng-container>
								<ng-container *ngIf="editCache[data.id]?.edit">
									<input type="email" name="email" nz-input [(ngModel)]="editCache[data.id].data.email" title="Email">
								</ng-container>
							</div>
						</div>
					</td>

					<td>
						<div class="editable-cell">
							<div class="editable-cell-text-wrapper">
								<ng-container *ngIf="!editCache[data.id]?.edit">
									{{data.first_name}}
								</ng-container>
								<ng-container *ngIf="editCache[data.id]?.edit">
									<input type="text" name="first_name" nz-input [(ngModel)]="editCache[data.id].data.first_name" title="First Name">
								</ng-container>
							</div>
						</div>
					</td>

					<td>
						<div class="editable-cell">
							<div class="editable-cell-text-wrapper">
								<ng-container *ngIf="!editCache[data.id]?.edit">
									{{data.last_name}}
								</ng-container>
								<ng-container *ngIf="editCache[data.id]?.edit">
									<input type="text" name="last_name" nz-input [(ngModel)]="editCache[data.id].data.last_name" title="Last Name">
								</ng-container>
							</div>
						</div>
					</td>

					<td>
						<div class="editable-cell">
							<div class="editable-cell-text-wrapper">
								<ng-container *ngIf="!editCache[data.id]?.edit">
									{{data.phone}}
								</ng-container>
								<ng-container *ngIf="editCache[data.id]?.edit">
									<input type="phone" name="phone" nz-input [(ngModel)]="editCache[data.id].data.phone" title="Phone Number">
								</ng-container>
							</div>
						</div>
					</td>

					<td>
						<div class="editable-cell">
							<div class="editable-cell-text-wrapper">
								<ng-container *ngIf="!editCache[data.id]?.edit">
									{{data.user.roles[0].display_name}}
								</ng-container>
								<ng-container *ngIf="editCache[data.id]?.edit">
									<input type="text" name="role" nz-input [(ngModel)]="editCache[data.id].data.user.roles[0].display_name" title="Role">
								</ng-container>
							</div>
						</div>
					</td>

					<td>
						{{ data.updated_at | date:'short' }}
					</td>

					<td>
						<div class="editable-row-operations">
							<ng-container *ngIf="!editCache[data.id]?.edit">
								<!--<a (click)="startEdit(data.id)">Edit</a>-->
								<button nz-button [nzSize]="'small'" nzType="primary" (click)="startEdit(data.id)">Edit</button>
							</ng-container>
							<ng-container *ngIf="editCache[data.id]?.edit">
								<!--<a (click)="cancelEdit(data.id)">Cancel</a>-->
								<button nz-button [nzSize]="'small'" nzType="danger" (click)="cancelEdit(data.id)">Cancel</button>

								<nz-popconfirm [nzTitle]="'Sure to Update?'" (nzOnConfirm)="saveEdit(data.id)">
									<!--<a nz-popconfirm>Update</a>-->
									<button nz-button [nzSize]="'small'" nzType="primary" nz-popconfirm>Update</button>
								</nz-popconfirm>
							</ng-container>
						</div>
					</td>
				</tr>
				</tbody>
			</nz-table>
		</nz-tab>
	</nz-tabset>

</nz-card>
