<div class="row">

  <!-- Column -->
  <div [ngClass]="{ 'col-lg-9 col-xlg-10 col-md-7': !is_client, 'col-12': is_client }">
    <ngb-tabset #t="ngbTabset" [justify]="'fill'">

      <ngb-tab id="summary" title="Summary">
        <ng-template ngbTabContent>
          <div class="card-body" *ngIf="selectedTransaction">
            <div class="w-100 row">
              <div class="card-body">
                <button type="button" class="btn btn-secondary m-r-11 m-b-11" (click)="refreshTransaction()">
                  <i class="mdi mdi-cached font-19"></i>
                  Refresh
                </button>

                <div class="btn-group m-b-11 m-r-11" role="group" aria-label="Button group with nested dropdown" *ngIf="!is_client">
                  <button type="button" class="btn btn-secondary font-19" disabled>
                    <i class="mdi mdi-inbox-arrow-down"></i>
                  </button>

                  <button type="button" class="btn btn-danger font-19" (click)="rejectTransaction()" [disabled]="!can_take_action && !can_be_rejected">
                    Reject
                    <i class="mdi mdi-close"></i>
                  </button>
                </div>

                <label class="label label-rounded"
                       [ngClass]="selectedTransaction?.transaction_status_id | status:'class'"
                       *ngIf="selectedTransaction">
                  {{ selectedTransaction?.transaction_status_id | status }}
                </label>

                <button class="btn btn-outline-primary waves-effect waves-light pull-right" *ngIf="!is_client" [disabled]="!can_take_action" type="button" (click)="takeAction()">
                  <span class="btn-label"><i
                    class="fa fa-envelope-o"></i></span>{{ nextActionText }}
                </button>
              </div>
            </div>


            <div class="p-20">

              <form #transactionFormm="ngForm" (ngSubmit)="takeAction()">
                <div class="col-12">
                  <div class="card card-megna">
                    <div class="card-header">
                      <h4 class="m-b-0 text-white">
                        <i class="mdi mdi-briefcase-check text-warning"></i>
                        Transaction #{{ selectedTransaction.transaction_ref }}
                      </h4>
                    </div>
                    <div class="card-body">
                      <h5 *ngIf="!no_action" class="card-title">{{ nextActionText }}</h5>


                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>


                      <div class="card-body">
                        <div class="row">

                          <div class="form-group row">
                            <div class="col-md-10">
                              <label>
                                <i class="mdi mdi-cash-100 text-warning"></i>
                                Currency
                                <span *ngIf="transaction" class="text-danger">*</span>
                              </label>

                              <select class="form-control" [required]="selectedTransaction" [disabled]="selectedTransaction.buying_product_id"
                                      [(ngModel)]="selectedTransaction.buying_product_id"
                                      name="buying_product_id" placeholder="Currency">
                                <option *ngFor="let currency of currencyList" [ngValue]="currency.id">{{currency.name}}</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-md-10">

                              <label>
                                <i class="mdi mdi-buffer text-warning"></i>
                                Amount
                                <span *ngIf="transaction" class="text-danger">*</span>
                              </label>
                              <div class="input-group">
                                <span class="input-group-addon">{{ selectedTransaction?.buying_product_id | currency:'sign' }}</span>
                                <input type="text" name="amount" [disabled]="selectedTransaction.amount" class="form-control" id="amount" [(ngModel)]="selectedTransaction.amount">

                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-md-10">

                              <label>
                                <i class="mdi mdi-percent text-warning disabled"></i>
                                Rate
                                <span *ngIf="transaction" class="text-danger">*</span>
                              </label>
                              <div class="input-group">
                                <span class="input-group-addon">{{ selectedTransaction.selling_product_id | currency:'sign' }}</span>
                                <input type="text" class="form-control" id="rate" [(ngModel)]="selectedTransaction.rate"
                                       (keyup)="updateCalculatedAmount()"
                                       [disabled]="!can_be_treated || is_client"
                                       name="rate"
                                       aria-label="Amount (to the nearest dollar)">
                                <span class="input-group-addon disabled">/ {{selectedTransaction.buying_product_id | currency }}</span>
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-md-10">

                              <label>
                                <i class="mdi mdi-cash-multiple text-warning disabled"></i>
                                Calculated Amount
                                <span *ngIf="transaction" class="text-danger">*</span>
                              </label>
                              <div class="input-group">
                                <span class="input-group-addon">{{ selectedTransaction.selling_product_id | currency:'sign' }}</span>
                                <input type="text" class="form-control" id="calculated_amount" disabled
                                       [ngModel]="selectedTransaction.calculated_amount"
                                       name="calculated_amount"
                                       aria-label="Amount (to the nearest dollar)">
                              </div>
                            </div>
                          </div>

                          <!--<div class="form-group row">
                            <div class="col-md-10">

                              <label>
                                <i class="mdi mdi-wallet-giftcard text-warning"></i>
                                WACC
                                <span *ngIf="transaction" class="text-danger">*</span>
                              </label>
                              <div class="input-group">
                                <span class="input-group-addon">{{ selectedTransaction.selling_product_id | currency:'sign' }}</span>
                                <input type="number" class="form-control" id="wacc"
                                       [(ngModel)]="selectedTransaction.wacc"
                                       name="wacc" [disabled]="!can_be_treated || is_client"
                                       aria-label="Amount (to the nearest dollar)">
                              </div>
                            </div>
                          </div>-->

                          <div class="form-group row">
                            <div class="col-md-10">
                              <label>
                                <i class="mdi mdi-bank text-warning"></i>
                                Paying Organization / Account
                                <span *ngIf="transaction" class="text-danger">*</span>
                              </label>

                              <select class="form-control" [required]="selectedTransaction" [disabled]="!can_be_treated || is_client"
                                      [(ngModel)]="selectedTransaction.org_account_id"
                                      name="org_account_id" placeholder="Currency">
                                <option *ngFor="let organization of organizationList" value="{{organization.id}}">{{organization.name + ' ' + organization.account_number}}</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-md-10">
                              <label>
                                <i class="mdi mdi-code-not-equal text-warning"></i>
                                Condition
                                <span *ngIf="transaction" class="text-danger">*</span>
                              </label>

                              <select class="form-control" [required]="selectedTransaction" [disabled]="!can_be_treated || is_client"
                                      [(ngModel)]="selectedTransaction.condition"
                                      name="condition" placeholder="Condition">
                                <option value="waiver">Waiver</option>
                                <option value="advance">Advance</option>
                                <option value="loan">Loan</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group row" *ngIf="!is_client">
                            <div class="col-md-11">

                              <label>
                                <i class="mdi mdi-comment text-success disabled"></i>
                                Comment
                                <span *ngIf="transaction" class="text-danger">*</span>
                              </label>
                              <textarea [disabled]="!can_take_action && !can_be_rejected" class="form-control" name="comment" [(ngModel)]="selectedTransaction.comment" rows="2"></textarea>
                            </div>
                          </div>

                        </div>
                      </div>

                      <button type="submit" *ngIf="!is_client" [disabled]="!can_take_action" class="btn btn-success btn-secondary">{{ nextSubmitText }}</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="comments" title="Comments & Timeline">
        <ng-template ngbTabContent>
          <div class="card-body">
            <div class="profiletimeline">
              <div class="sl-item" *ngFor="let event of selectedTransaction.events">
                <div class="sl-left"><img src="assets/images/users/3.jpg" alt="user" class="img-circle"/></div>
                <div class="sl-right">
                  <div>
                    <a class="link">{{ event?.done_by?.name }}</a>
                    <span class="text-muted font-14 m-l-10">|    {{ event.done_at | amCalendar:referenceTime:formats }}</span>
                    <p class="m-t-9"> {{ event.action }} </p>
                  </div>
                  <blockquote class="m-t-11" *ngIf="event?.comment">
                    {{ event?.comment }}
                  </blockquote>
                  <blockquote class="m-t-11" *ngIf="!event?.comment" #no_comment>
                    - no comment -
                  </blockquote>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <!--<ngb-tab title="Comments" [disabled]="true">
        <ng-template ngbTabContent>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 col-xs-6 b-r"><strong>Full Name</strong>
                <br>
                <p class="text-muted">Johnathan Deo</p>
              </div>
              <div class="col-md-3 col-xs-6 b-r"><strong>Mobile</strong>
                <br>
                <p class="text-muted">(123) 456 7890</p>
              </div>
              <div class="col-md-3 col-xs-6 b-r"><strong>Email</strong>
                <br>
                <p class="text-muted">johnathan@admin.com</p>
              </div>
              <div class="col-md-3 col-xs-6"><strong>Location</strong>
                <br>
                <p class="text-muted">London</p>
              </div>
            </div>
            <hr>
            <p class="m-t-30">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
              ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
              tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
              ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries </p>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
              more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <h4 class="font-medium m-t-30">Skill Set</h4>
            <hr>
            <h5 class="m-t-30">Wordpress <span class="pull-right">80%</span></h5>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                   aria-valuemax="100" style="width:80%; height:6px;"><span class="sr-only">50% Complete</span></div>
            </div>
            <h5 class="m-t-30">HTML 5 <span class="pull-right">90%</span></h5>
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                   aria-valuemax="100" style="width:90%; height:6px;"><span class="sr-only">50% Complete</span></div>
            </div>
            <h5 class="m-t-30">jQuery <span class="pull-right">50%</span></h5>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                   aria-valuemax="100" style="width:50%; height:6px;"><span class="sr-only">50% Complete</span></div>
            </div>
            <h5 class="m-t-30">Photoshop <span class="pull-right">70%</span></h5>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                   aria-valuemax="100" style="width:70%; height:6px;"><span class="sr-only">50% Complete</span></div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>-->

      <ngb-tab *ngIf="!is_client" id="advance" title="Advanced Options" [disabled]="selectedTransaction">
        <ng-template ngbTabContent>
          <div class="card-body">
            <form class="form-horizontal form-material">
              <div class="form-group">
                <label class="col-md-11">Full Name</label>
                <div class="col-md-11">
                  <input type="text" placeholder="Johnathan Doe" name class="form-control form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label for="example-email" class="col-md-11">Email</label>
                <div class="col-md-11">
                  <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line"
                         name="example-email" id="example-email">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-11">Password</label>
                <div class="col-md-11">
                  <input type="password" value="password" class="form-control form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-11">Phone No</label>
                <div class="col-md-11">
                  <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-11">Message</label>
                <div class="col-md-11">
                  <textarea rows="5" class="form-control form-control-line"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-11">Select Country</label>
                <div class="col-sm-11">
                  <select class="form-control form-control-line">
                    <option>London</option>
                    <option>India</option>
                    <option>Usa</option>
                    <option>Canada</option>
                    <option>Thailand</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-11">
                  <button class="btn btn-success">Update Profile</button>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
      </ngb-tab>

    </ngb-tabset>
  </div>
  <!-- Column -->


  <!-- Column -->
  <div class="col-lg-3 col-xlg-2 col-md-5">
    <ng-container *ngIf="!is_client">
      <div class="card">
        <div class="card-header">
          <h6>Customer Information</h6>
        </div>
        <div class="card-body">
          <div class="m-t-30 text-center">
            <img src="assets/images/users/5.jpg" class="img-circle" width="150"/>
            <hr>
            <h4 class="card-title m-t-11">{{ selectedTransaction?.client?.full_name }}</h4>

            <div class="row text-center justify-content-md-center">
              <div class="col-6">
                <a href="javascript:void(0)" (click)="t.select('accounts')" class="link"
                   popoverTitle="Popover on bottom" ngbPopover="{{ selectedTransaction?.client?.accounts?.length }} accounts">
                  <i class="icon-wallet"></i>
                  <font class="font-medium">{{ selectedTransaction?.client?.accounts?.length }}</font>
                </a>
              </div>
            </div>

            <div class="bg-light-info fa">
              <i [ngClass]="{'fa-user-o' : selectedTransaction?.client?.client_type === 1, 'fa-bank-o' :  selectedTransaction?.client?.client_type === 2}"></i>

              <span class="text-muted" *ngIf="selectedTransaction?.client?.client_type === 1">Individual</span>
              <span class="text-muted" *ngIf="selectedTransaction?.client?.client_type === 2">Cooperate</span>
              <span class="text-muted" *ngIf="selectedTransaction?.client?.client_type === null"></span>
            </div>

          </div>
        </div>
        <div>
          <hr>
        </div>
        <div class="card-body">
          <small class="text-muted">Email address</small>
          <h6>{{ selectedTransaction?.client?.email }}</h6>

          <small class="text-muted p-t-30 db">Phone</small>
          <h6>{{ selectedTransaction?.client?.phone }}</h6>

          <small class="text-muted p-t-30 db">Office Address</small>
          <h6>{{ selectedTransaction?.client?.office_address }}</h6>

          <div *ngIf="selectedTransaction?.client?.client_type === 2">
            <small class="text-muted p-t-30 db" *ngIf="client?.client_type == 2">RC Number</small>
            <h6>{{ selectedTransaction?.client?.rc_number }}</h6>
          </div>

          <div *ngIf="selectedTransaction?.client?.client_type === 1">
            <small class="text-muted p-t-30 db">BVN</small>
            <h6>{{ selectedTransaction?.client?.bvn }}</h6>
          </div>
          <div *ngIf="selectedTransaction?.client?.client_type === 1">

            <small class="text-muted p-t-30 db">Occupation</small>
            <h6>{{ selectedTransaction?.client?.occupation }}</h6>
          </div>
          <div *ngIf="selectedTransaction?.client?.client_type === 1">

            <small class="text-muted p-t-30 db">Next of Kin</small>
            <h6>{{ selectedTransaction?.client?.nok_full_name }}</h6>
          </div>
          <div *ngIf="selectedTransaction?.client?.client_type === 1">

            <small class="text-muted p-t-30 db">Phone of Next of Kin</small>
            <h6>{{ selectedTransaction?.client?.nok_phone }}</h6>
          </div>
          <div *ngIf="selectedTransaction?.client?.client_type === 1">

            <small class="text-muted p-t-30 db">Date of birth</small>
            <h6>{{ selectedTransaction?.client?.date_of_birth | amCalendar }}</h6>
          </div>
          <div *ngIf="selectedTransaction?.client?.client_type === 1">

            <small class="text-muted p-t-30 db">Referee 1</small>
            <h6>{{ selectedTransaction?.client?.referee_1 }}</h6>
          </div>

          <div *ngIf="selectedTransaction?.client?.client_type === 1">
            <small class="text-muted p-t-30 db">Referee 2</small>
            <h6>{{ selectedTransaction?.client?.referee_2 }}</h6>
          </div>

          <div *ngIf="selectedTransaction?.client?.client_type === 1">
            <small class="text-muted p-t-30 db">Referee 3</small>
            <h6>{{ selectedTransaction?.client?.referee_3 }}</h6>
          </div>

          <div *ngIf="selectedTransaction?.client?.client_type === 1">
            <small class="text-muted p-t-30 db">Referee 4</small>
            <h6>{{ selectedTransaction?.client?.referee_4 }}</h6>
          </div>
          <div *ngIf="selectedTransaction?.client?.client_type === 1">
            <small class="text-muted p-t-30 db">Residential Address</small>
            <h6>{{ selectedTransaction?.client?.residential_address }}</h6>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
  <!-- Column -->
</div>
