<div class="row">
  <!-- Column -->
  <div class="col-lg-3 col-md-6" *ngFor="let bucket of buckets">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ bucket.description }}</h4>
        <div class="text-right"><span class="text-muted">
          <i class="ti-arrow-up text-success" *ngIf="bucket.direction === 'up'"></i>
          <i class="ti-arrows-horizontal text-info" *ngIf="bucket.direction === 'middle'"></i>
          <i class="ti-arrow-down text-danger" *ngIf="bucket.direction === 'down'"></i>
          {{ bucket.name }}
        </span>
          <h1 class="font-light"><sup>

          </sup>{{ bucket.id | currency:'sign'}}{{ bucket.bucket | number:'2.' }}
          </h1>
        </div>
        <p>
          <ngb-progressbar type="{{bucket.type}}" [value]="bucket.percentage + 25" [striped]="true"
                           [animated]="true">
            <i>{{ bucket.percentage | number:'1.1-1' }}%</i>
          </ngb-progressbar>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Column -->

<!-- ============================================================== -->
<!-- chart and stats -->
<!-- ============================================================== -->
<div class="row">
  <!-- chart component -->
  <div class="col-lg-9 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap m-b-30">
          <div>
            <h4 class="card-title"><span class="lstick"></span>WACC Timeline</h4>
          </div>
          <!--<div class="ml-auto">-->
          <!--<ul class="list-inline">-->
          <!--<li>-->
          <!--<h6 class="text-muted text-success">-->
          <!--<i class="fa fa-circle font-10 m-r-10 "></i>-->
          <!--Euro €-->
          <!--</h6>-->
          <!--</li>-->
          <!--<li>-->
          <!--<h6 class="text-muted  text-info">-->
          <!--<i class="fa fa-circle font-10 m-r-10"></i>-->
          <!--Dollars $-->
          <!--</h6>-->
          <!--</li>-->
          <!--<li>-->
          <!--<h6 class="text-muted  text-warning">-->
          <!--<i class="fa fa-circle font-10 m-r-10"></i>-->
          <!--Pounds £-->
          <!--</h6>-->
          <!--</li>-->
          <!--</ul>-->
          <!--</div>-->
        </div>
        <div style="height:370px;" *ngIf="lineChartData">
          <canvas baseChart [datasets]="lineChartData" [options]="lineChartOptions"
                  [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- other chart component -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><span class="lstick"></span>Transaction Status</h4>
        <div style="height: 220px">
          <canvas baseChart height="100px" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                  [options]="doughnutChartOptions" [legend]="doughnutChartLegend" [chartType]="doughnutChartType"
                  [colors]="[{backgroundColor: ['rgb(116, 90, 242)', 'rgb(30, 136, 229)', '#06d79c', 'rgb(236, 141, 241)', '#02379f', 'rgb(16, 40, 242)']}]">
          </canvas>
        </div>
        <table class="table vm font-14 m-b-0">
          <tr>
            <a [routerLink]="'../transaction/list'">
              <td class="b-0">Open</td>
            </a>
            <td class="text-right font-medium b-0">{{(counts?.open / totalTransactions) * 100 | number:'1.1-1' }}%</td>
          </tr>
          <tr>
            <a [routerLink]="'../transaction/list'">
              <td>In Progress</td>
            </a>
            <td class="text-right font-medium">{{(counts?.in_progress / totalTransactions) * 100 | number:'1.1-1' }}%</td>
          </tr>
          <tr>
            <a [routerLink]="'../transaction/list'">
              <td>Awaiting Approval</td>
            </a>
            <td class="text-right font-medium">{{(counts?.pending_approval / totalTransactions) * 100 | number:'1.1-1' }}%</td>
          </tr>
          <tr>
            <a [routerLink]="'../transaction/list'">
              <td>Awaiting Fulfilment</td>
            </a>
            <td class="text-right font-medium">{{(counts?.pending_fulfilment / totalTransactions) * 100 | number:'1.1-1' }}%</td>
          </tr>
          <tr>
            <a [routerLink]="'../transaction/list'">
              <td>Cancelled</td>
            </a>
            <td class="text-right font-medium">{{(counts?.cancelled / totalTransactions) * 100 | number:'1.1-1' }}%</td>
          </tr>
          <tr>
            <a [routerLink]="'../transaction/list'">
              <td>Closed</td>
            </a>
            <td class="text-right font-medium">{{(counts?.closed / totalTransactions) * 100 | number:'1.1-1' }}%</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
