<div class="row">
  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card">
      <div class="card-body">
        <div class="m-t-30 text-center"><img src="assets/images/users/5.jpg" class="img-circle" width="150"/>
          <h4 class="card-title m-t-10">{{ client?.full_name }}</h4>
          <h6 class="card-subtitle">{{ client?.occupation }}</h6>
          <div class="row text-center justify-content-md-center">
            <div class="col-4">
              <a href="javascript:void(0)" (click)="t.select('accounts')" class="link" title="{{ client?.accounts?.length }} accounts">
                <i class="icon-wallet"></i>
                <font class="font-medium">{{ client?.accounts?.length }}</font>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <hr>
      </div>
      <div class="card-body">
        <small class="text-muted">Email address</small>
        <h6>{{ client?.email }}</h6>

        <small class="text-muted p-t-30 db">Phone</small>
        <h6>{{ client?.phone }}</h6>

        <small class="text-muted p-t-30 db">Office Address</small>
        <h6>{{ client?.office_address }}</h6>
        <div *ngIf="!is_individual">
          <small class="text-muted p-t-30 db" *ngIf="client?.client_type == 2">RC Number</small>
          <h6>{{ client?.rc_number }}</h6>
        </div>
        <div *ngIf="is_individual">
          <small class="text-muted p-t-30 db">BVN</small>
          <h6>{{ client?.bvn }}</h6>
        </div>
        <div *ngIf="is_individual">
          <small class="text-muted p-t-30 db">Occupation</small>
          <h6>{{ client?.occupation }}</h6>
        </div>
        <div *ngIf="is_individual">
          <small class="text-muted p-t-30 db">Next of Kin</small>
          <h6>{{ client?.nok_full_name }}</h6>
        </div>
        <div *ngIf="is_individual">
          <small class="text-muted p-t-30 db">Phone of Next of Kin</small>
          <h6>{{ client?.nok_phone }}</h6>
        </div>
        <div *ngIf="is_individual">
          <small class="text-muted p-t-30 db">Date of birth</small>
          <h6>{{ client?.date_of_birth | amCalendar }}</h6>
        </div>
        <div *ngIf="is_individual">
          <small class="text-muted p-t-30 db">Residential Address</small>
          <h6>{{ client?.residential_address }}</h6>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->


  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">


      <ngb-tabset #t="ngbTabset">

        <ngb-tab id="profile" title="Personal Details">
          <ng-template ngbTabContent>
            <div class="card-body">

              <ngb-alert *ngIf="client?.kyc.status === 0 && client?.kyc.awaiting_review !== 1" [type]="'warning'">
                <b>NOTE: </b>Please update your profile so transactions can be treated.
              </ngb-alert>

              <ngb-alert *ngIf="client?.kyc.awaiting_review === 1" [type]="'info'">
                <b>NOTE: </b>Your profile is awaiting review
              </ngb-alert>

              <form class="form-horizontal form-material" *ngIf="client" #profileForm="ngForm" (ngSubmit)="updateProfile()">
                <div class="form-group">
                  <label class="col-md-11">Full Name</label>
                  <div class="col-md-11">
                    <input type="text" [(ngModel)]="client.full_name" placeholder="Full Name..." name="full_name" class="form-control form-control-line">
                  </div>
                </div>

                <div class="form-group">
                  <label for="email" class="col-md-11">Email</label>
                  <div class="col-md-11">
                    <input type="email" [(ngModel)]="client.email" placeholder="Email..." class="form-control form-control-line"
                           name="email" id="email">
                  </div>
                </div>

                <div class="form-group">
                  <label for="phone" class="col-md-11">Phone Number</label>
                  <div class="col-md-11">
                    <input type="tel" pattern="[0-9]{11}" [(ngModel)]="client.phone" placeholder="Phone..."
                           class="form-control form-control-line"
                           name="phone" id="phone">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-11">Office Address</label>
                  <div class="col-md-11">
                    <textarea rows="5" [(ngModel)]="client.office_address" placeholder="Office Address..." name="office_address"
                              class="form-control form-control-line"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-11">BVN</label>
                  <div class="col-md-11">
                    <input [(ngModel)]="client.bvn" placeholder="BVN..." name="bvn" class="form-control form-control-line">
                  </div>
                </div>

                <div class="form-group row" *ngIf="!is_individual">
                  <label for="rc_number" class="col-sm-3 text-right control-label col-form-label">RC Number</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="client.rc_number" pattern="[0-9,A-Z,a-z]{5,10}" type="text" name="rc_number" class="form-control" id="rc_number" placeholder="RC Number..."></div>
                </div>

                <div class="form-group row" *ngIf="is_individual">
                  <label for="marital_status" class="col-sm-3 text-right control-label col-form-label">Marital Status</label>
                  <div class="col-sm-9">
                    <select [(ngModel)]="client.marital_status" type="text" name="marital_status" class="form-control" id="marital_status" placeholder="Marital Status...">
                      <option value="single">Single</option>
                      <option value="married">Married</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row" *ngIf="is_individual">
                  <label for="occupation" class="col-sm-3 text-right control-label col-form-label">Occupation</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="client.occupation" type="text" name="occupation" class="form-control" id="occupation" placeholder="Occupation..."></div>
                </div>

                <div class="form-group row">
                  <label for="residential_address" class="col-sm-3 text-right control-label col-form-label">Residential
                    Address</label>
                  <div class="col-sm-9">
                    <textarea rows="5" [(ngModel)]="client.residential_address" placeholder="Residential Address..."
                              name="residential_address" id="residential_address"
                              class="form-control form-control-line"></textarea>
                  </div>
                </div>

                <div class="form-group row" *ngIf="is_individual">
                  <label for="date_of_birth" class="col-sm-3 text-right control-label col-form-label">Date of birth</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="client.date_of_birth" type="date" name="date_of_birth" class="form-control" id="date_of_birth" placeholder="Date of birth..."></div>
                </div>

                <div class="form-group row" *ngIf="is_individual">
                  <label for="nok_full_name" class="col-sm-3 text-right control-label col-form-label">Next of Kin</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="client.nok_full_name" type="text" name="nok_full_name" class="form-control" id="nok_full_name" placeholder="Next of Kin..."></div>
                </div>

                <div class="form-group row" *ngIf="is_individual">
                  <label for="nok_phone" class="col-sm-3 text-right control-label col-form-label">Next of Kin's Phone Number</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="client.nok_phone" type="text" name="nok_phone" class="form-control" id="nok_phone" placeholder="Next of Kin's Phone Number..."></div>
                </div>

                <div class="form-group">
                  <div class="col-sm-11">
                    <button class="btn btn-success" type="submit">Update Profile</button>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab id="identity" title="My Identity">
          <ng-template ngbTabContent>
            <div class="card-body">
              <form class="form-horizontal form-material" *ngIf="client" #profileForm="ngForm" (ngSubmit)="updateProfile()">

                <div class="form-group row" *ngIf="is_individual">
                  <label for="occupation" class="col-sm-3 text-right control-label col-form-label">Identification</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="client.identification" type="text" name="identification" class="form-control" id="identification" placeholder="Means of Identification..."></div>
                </div>

                <div class="form-group row" *ngIf="is_individual">
                  <label for="occupation" class="col-sm-3 text-right control-label col-form-label">Identification Number</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="client.identification_number" type="text" name="identification_number" class="form-control" id="identification_number" placeholder="Identification Number...">
                  </div>
                </div>

                <hr>

                <div class="form-group row" *ngIf="is_individual">
                  <label for="occupation" class="col-sm-3 text-right control-label col-form-label">Upload Means of Identification</label>
                  <div class="col-sm-9">
                    <p *ngIf="client.identification_document">You have 1 document uploaded already</p>
                    <input (change)="fileChangeEvent($event, 'identification_document')" type="file" name="identification_document" class="form-control" id="identification_document"
                           placeholder="Means of Identification...">
                  </div>
                </div>

                <div class="form-group row" *ngIf="!is_individual">
                  <label for="occupation" class="col-sm-3 text-right control-label col-form-label">Upload CAC Document</label>
                  <div class="col-sm-9">
                    <p *ngIf="client.cac_document">You have 1 document uploaded already</p>
                    <input (change)="fileChangeEvent($event, 'cac_document')" type="file" name="cac_document" class="form-control" id="cac_document" placeholder="CAC Document...">
                  </div>
                </div>


                <div class="form-group">
                  <div class="col-sm-11">
                    <button class="btn btn-success" type="submit">Update Identity Profile</button>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab id="accounts" title="My Accounts">
          <ng-template ngbTabContent>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4 col-md-6" *ngFor="let account of client.accounts">
                  <div class="card">
                    <div class="d-flex flex-row">
                      <div class="p-10 bg-info">
                        <h3 class="text-white box m-b-0">
                          <i class="ti-wallet"></i>
                        </h3>
                      </div>
                      <div class="align-self-center m-l-20">
                        <h4 class="m-b-0 text-info">{{ account.name}} </h4>
                        <i class="mdi mdi-credit-card"></i>
                        <code>{{ account.number }}</code>
                        <h6 class="text-muted m-b-0">{{ account.bank }}</h6></div>
                    </div>
                  </div>
                </div>

                <div class="col-12 text-center" *ngIf="client?.accounts?.length === 0">
                  <p class="text-center text-warning">You don't have any accounts yet.</p>
                  <button class="btn btn-outline-primary">Create a New Account</button>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>


      </ngb-tabset>
    </div>
  </div>
  <!-- Column -->
</div>
