/* You can add global styles to this file, and also import other style files */
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.ps .ps__scrollbar-y-rail {
  left: 3px;
  right: auto;
}

.ng-valid[required], .ng-valid.required {
  border: 1px solid #42A948; /* green */
}

.ng-invalid:not(form).ng-touched {
  border: 1px solid #a94442; /* red */
}

.card-body {
	min-height: 10vh;
}
